
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <style>
    #main {
        width: 204px;
        height: 204px;
    }

    .mysquare {
        border-radius: 2rem;
        text-align: center;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-style: solid;
    }

    </style>

@model User

@{ TempData["FirstName"] = Model.FirstName;
    TempData["Id"] = Model.Id;}
        <table style=" font-family: Arial;
        border: 1px solid black;
        width: 800px;
        margin-bottom: 2rem">
            
            <tbody>
                <tr>
                    <td ><a asp-controller="User" asp-action="MovieSearch" asp-route-id="@Model.Id"><h3 class="mysquare">@Model.FirstName.Substring(0, 1).ToUpperInvariant()@Model.LastName.Substring(0, 1).ToUpper()</h3></a></td>
                            <td>@Model.FirstName @Model.LastName</td>
                            <td>@Model.Email</td>
                    <td><a asp-controller="User" asp-action="History" asp-route-id="@Model.Id">History</a></td>
                    <td id="removeIcon"><a asp-controller="User" asp-action="DeleteUser" asp-route-id="@Model.Id">Remove</a></td>
                </tr>
            </tbody>
        </table>

